<div id="photo" class="edgetoedge">
  <div class="toolbar">
    <a class="back">back</a>
  	<h1>
  		Dashboard
  	</h1>
  </div>
  <div class="vertical-scroll">
    <div>
      <ul class="edgetoedge">
        <li class="arrow">
          <img src="http://farm4.static.flickr.com/3250/3145887230_ac5ec9db4f.jpg" width="40" height="30">
          <a>Nokia Theater, New York NY</a>
          <small>12.30.2009</small>
        </li>
    </div>
  </div>
  <div class="info">
    <p> some other info</p>
  </div>
</div>

<div id="photoer">
  <div class="toolbar">
    <a class="back">Back</a>
  	<h1>
  		Photos
  	</h1>
  </div>
	<a href="#home" class="grayButton swap">Gotta have something here or you get a flicker</a>
	<div class="horizontal-slide">
		<table>
			<tr>
				<td class="horizontal-slide-snapto"><div class="slide-container">
				  <div style="text-align:center;width:320px;overflow:hidden;height:350px;">
				    <img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome" class="scalable"/>
				  </div>
				  </div></td>
				<td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
				<td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
				<td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
				<td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
				<td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
				<td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
			</tr>
		</table>
	</div>
</div>
