<div id="home">
  <div class="toolbar">
  	<h1>
  		Disco Biscuits
  	</h1>
  </div>
  <div class="vertical-scroll">
    <div>
      <h2> Right Now</h2>
      <ul class="rounded">
        <li><a href="/test/upcoming">Nokia Theater</a></li>
      </ul>
      <ul class="rounded" >
          <li class="forward">
            <a href="/test/guide">Tour Guide</a>
            <a>SetLists, Songs, Venues and more</a>
          </li>
          <li class="forward">
            <a href="news">Communications</a>
            <a href="news">News, Tweets, From the Studio</a>
          </li>
          <li class="forward">
            <a href="media">Media</a>
            <a class="small">Audio, Video, Music</a>
          </li>
      </ul>
    
      <ul class="individual">
        <li>
          <a href="/Settings">Help</a>
        </li>
        <li>
          <a href="/Settings/about">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="info">
    <p>Important Info Bar</p>
  </div>
</div>
