<div id="guide">
  <div class="toolbar">
    <a class="back">Back</a>
  	<h1>
  		Disco Biscuits
  	</h1>
  </div>
  <div class="vertical-scroll">
    <div>
     
      <ul class="rounded">
        <li class="forward"><a href="upcoming_concerts">Upcoming Concerts</a></li>
        <li class="forward"><a href="last">Recently Played</a></li>
        <li class="forward"><a href="current">Winter 2010 Tour</a></li>
      </ul>
      
      <ul class="rounded">
        <li class="forward"><a href="tours">Tours</a></li>
        <li class="forward"><a href="concerts">Concerts</a></li>
        <li class="forward"><a href="songs">Songs</a></li>
        <li class="forward"><a href="venues">Venues</a></li>
      </ul>  
      
    </div>
  </div>
</div>