<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>The Disco Biscuits</title>
		<link href="/css/base.css" type="text/css" rel="stylesheet"/>

   
      <script src="/jqtouch/jquery.1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="/jqtouch/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
      <script src="/extensions/jqt.scrolling.js" type="application/x-javascript" charset="utf-8"></script>
      <script src="/extensions/jqt.sliding.js" type="application/x-javascript" charset="utf-8"></script>
      <script type="text/javascript" src="/extensions/jqt.scaling.js"></script>
      <style type="text/css" media="screen">@import "/jqtouch/jqtouch.css";</style>
      <style type="text/css" media="screen">@import "/themes/jqt/theme.css";</style>
      <link href="/css/iphone.css" type="text/css" rel="stylesheet"/>
      <script type="text/javascript" charset="utf-8">
           $.jQTouch({
               addGlossToIcon: false,
               slideSelector: '#jqt li a',
               startupScreen: 'startup.png',
               statusBar: 'black'
           });
      </script>
        <style>
            .scalable
            {
            	width:200px !important;
                margin:50px auto;
            }
        </style>


	</head>
	<body>
	  <div id="jqt">
		<%= yield %>
		</div>
	</body>
</html>